
<!DOCTYPE html>
<html>
<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/weather">Weather</a></li>
  <li><a href="#about">About</a></li>
</ul>

<br/>

<h1>Dynamic content from a view template page</h1>

<h3>Change Dynamic Content</h3> : {{changeTextDynamic}}

<p>Note: We use href="#" for test links. In a real web site this would be URLs.</p>

</body>
</html>